{erl_opts,[debug_info]}.

{pre_hooks, [
    {"linux", comlile, "bash -c \"cd ../app_server/ && ./clean.sh\""},
    {"linux", comlile, "bash -c \"cd ../app_client/ && ./clean.sh\""},
    {"win", compile, "cd ../app_server/ && call ./clean.bat"},
    {"win", compile, "cd ../app_client/ && call ./clean.bat"}
]}.

{post_hooks, [
    {"linux", clean, "bash -c \"cd ../app_server/ && ./clean.sh\""},
    {"linux", clean, "bash -c \"cd ../app_client/ && ./clean.sh\""},
    {"linux", compile, "./start_assist.sh"},
    {"linux", compile, "./start.sh"},
    {"linux", compile, "bash -c \"cd ../app_server/ && ./build.sh\""},
    {"linux", compile, "bash -c \"cd ../app_client/ && ./build.sh\""},
    {"win", clean, "cd ../app_server/ && call ./clean.bat"},
    {"win", clean, "cd ../app_client/ && call ./clean.bat"},
    {"win", compile, "call ./start_assist.bat"},
    {"win", compile, "call ./start.bat"},
    {"win", compile, "cd ../app_server/ && call ./build.bat"},
    {"win", compile, "cd ../app_client/ && call ./build.bat"}
]}.