{erl_opts,[debug_info]}.

{pre_hooks, [
    {"linux", compile, "bash -c \"cd database/ && ./update.sh\""},
    {"linux", compile, "bash -c \"cd ../app_server/ && ./clean.sh\""},
    {"linux", compile, "bash -c \"cd ../app_client/ && ./clean.sh\""}
]}.

{post_hooks, [
    {"linux", clean, "bash -c \"cd ../app_server/ && ./clean.sh\""},
    {"linux", clean, "bash -c \"cd ../app_client/ && ./clean.sh\""},
    {"linux", compile, "./start_assist.sh"},
    {"linux", compile, "./start.sh"},
    {"linux", compile, "bash -c \"cd ../app_server/ && ./build.sh\""},
    {"linux", compile, "bash -c \"cd ../app_client/ && ./build.sh\""}
]}.
